version: '3.9'

services:
  db:
    image: postgres:15
    container_name: postgres_dev
    restart: always
    ports:
      - "5433:5432"  # host:container
    environment:
      POSTGRES_DB: example_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
